@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 align="center">@ViewBag.message</h2>

<p>@Html.ActionLink("До списку студентів", "ShowStudent", "Student")</p>
<p>@Html.ActionLink("На головну", "Index", "Home")</p>

