@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Журнал успішності: електронний журнал успішності студентів </h1>
    <p class="lead">Виконала: студентка групи ІС-71</p>
    <p class="lead">Дмитрук О.Ю.</p>
</div>

